/* .features {
    padding: 60px 20px;
    text-align: center;
  }
  
  .features h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature-card {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 18px;
  }
   */
   /* About.css */
.about-section {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    color: #333;
    font-size: 2.5em; /* Increase the font size for the heading */
  }
  
  .about-section p {
    color: #555;
    line-height: 1.6;
    font-size: 1.25em; /* Increase the font size for the paragraphs */
  }